# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v2.0. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader". Also, select "Enable extra
# low-level configuration options" and configure "GPIO pins to set at
# micro-controller startup" to "!PA14".

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See the example.cfg file for a description of available parameters.

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
step_distance: .0125
# step_distance: 0.0123
## rotation_distance: 40
#endstop_pin: ^PC0
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 0
position_max: 235
homing_speed: 50
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
diag_pin: PC0
microsteps: 16
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 250
driver_SGTHRS: 120

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
step_distance: .0125
# step_distance: 0.012269
##rotation_distance: 40
#endstop_pin: ^PC1
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 0
position_max: 235
homing_speed: 50
homing_retract_dist: 0

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
diag_pin: PC1
microsteps: 16
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 250
driver_SGTHRS: 120

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
step_distance: .0025
## rotation_distance: 8
# endstop_pin: ^PC2
## Z End down
position_endstop: 0.0
position_min: -2.0
position_max: 250
## Z virtual probe endstop
endstop_pin: probe:z_virtual_endstop

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
microsteps: 16
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 5

[bltouch]
sensor_pin: ^PC14
control_pin: PA1
x_offset: -43.3
y_offset: -5.2
z_offset: 3.718
#z_offset: 3.8
#z_offset: 3.9
samples: 1
speed: 7.5

[safe_z_home]
home_xy_position: 115,115
speed: 50
z_hop: 15
z_hop_speed: 5

[bed_mesh]
speed: 120
horizontal_move_z: 7
mesh_min: 10,10
mesh_max: 190, 190
probe_count: 6
mesh_pps: 4
fade_start: 0
fade_end: 1

[bed_screws]
screw1: 30,30
screw2: 200,30
screw3: 200,190
screw4: 30,190

[screws_tilt_adjust]
screw1: 74,30
screw1_name: Front left screw
screw2: 74,195
screw2_name: Rear left screw
screw3: 230,30
screw3_name: Front right screw
screw4: 230,195
screw4_name: Rear right screw
horizontal_move_z: 10
speed: 200
screw_thread: CW-M3

[extruder]
max_extrude_only_distance: 100.0 # added by me
#max_extrude_cross_section: 50.0
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD2
# new calculated step_distance 20201018
#step_distance: 0.010526
#step_distance: 0.007406 # 0,0074056212
#step_distance: 0.008295
#step_distance: 0.009
step_distance: 0.010526
nozzle_diameter: 0.400
#nozzle_diameter: 0.200
#max_extrude_cross_section: 0.21
filament_diameter: 1.750
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
control = pid
pid_kp = 26.292
pid_ki = 1.579
pid_kd = 109.441
min_temp: 0
max_temp: 250

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
microsteps: 16
run_current: 0.650
hold_current: 0.500
stealthchop_threshold: 5

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC3
control: pid
pid_kp = 70.012
pid_ki = 1.315
pid_kd = 932.037
min_temp: 0
max_temp: 130

[heater_fan nozzle_cooling_fan]
pin: PC7

[fan]
pin: PC6

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_39FFD4054246303218640957-if00

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 20
max_z_accel: 100

[static_digital_output usb_pullup_enable]
pins: !PA14

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5, EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB15, EXP1_10=<5V>

[display]
lcd_type: st7920
menu_timeout: 30
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2

[output_pin beeper]
pin: EXP1_1
pwm: True
value: 0
shutdown_value: 0
cycle_time: 0.001
scale: 1000

[virtual_sdcard]
#path: ~/.octoprint/uploads/
path: ~pi/.octoprint/uploads/

[gcode_arcs]

[respond]

[gcode_macro RESPOND_TEMP]
default_parameter_RES_PREFIX: ""
gcode:
    RESPOND PREFIX="{RES_PREFIX}" MSG="extruder temp at {printer.extruder.temperature}"
    RESPOND PREFIX="{RES_PREFIX}" MSG="bed temp at {printer.heater_bed.temperature}"


[gcode_macro START_PRINT]
default_parameter_BED_TEMP: 50
default_parameter_EXTRUDER_TEMP: 190
gcode:
    RESPOND_TEMP RES_PREFIX="START_PRINT"
    RESPOND PREFIX="START_PRINT" MSG="heating bed to {BED_TEMP}"
    M140 S{BED_TEMP} # Start bed heating
    RESPOND PREFIX="START_PRINT" MSG="heating extruder to {EXTRUDER_TEMP}"
    M104 S{EXTRUDER_TEMP} # Start extruder heating
    #
    RESPOND PREFIX="START_PRINT" MSG="homing printer"
    G92 E0 ; Reset Extruder
    G28 ; Home all axes
    #
    RESPOND PREFIX="START_PRINT" MSG="calibrating printer"
    BED_MESH_CALIBRATE
    #
    # Wait for bed to reach temperature
    M190 S{BED_TEMP}
    # Wait for nozzle to reach temperature
    M109 S{EXTRUDER_TEMP}
    RESPOND_TEMP RES_PREFIX="START_PRINT"
    RESPOND PREFIX="START_PRINT" MSG="drawing test line"
    G1 Z2.0 F3000 ; Move Z Axis up little to prevent scratching of Heat Bed
    G1 X0.1 Y20 Z0.3 F2500.0 ; Move to start position
    G1 X0.1 Y200.0 Z0.3 F750.0 E15 ; Draw the first line
    G1 X0.4 Y200.0 Z0.3 F2500.0 ; Move to side a little
    G1 X0.4 Y20 Z0.3 F750.0 E30 ; Draw the second line
    G92 E0 ; Reset Extruder
    G1 Z2.0 F3000 ; Move Z Axis up little to prevent scratching of Heat Bed
    G1 X5 Y20 Z0.3 F2500.0 ; Move over to prevent blob squish
    #
    RESPOND PREFIX="START_PRINT" MSG="done"

[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91
    G1 X-2 Y-2 E-3 F300
    # Raise nozzle by 10mm
    G1 Z10 F3000
    G90
    # Disable steppers
    M84

[gcode_macro M300]
default_parameter_S: 1000
#   Use a default 1kHz tone if S is omitted.
default_parameter_P: 100
#   Use a 10ms duration is P is omitted.
gcode:
    SET_PIN PIN=beeper VALUE={S}
    G4 P{P}
    SET_PIN PIN=beeper VALUE=0

[gcode_macro UNLOAD_FILAMENT]
gcode:
    SAVE_GCODE_STATE NAME=__filament__load
    M83
    G1 E-100 F960
    G1 E-100 F960
    G1 E-100 F960
    G1 E-40 F240
    RESTORE_GCODE_STATE NAME=__filament__load

[gcode_macro LOAD_FILAMENT]
gcode:
    SAVE_GCODE_STATE NAME=__filament__load
    M83
    G1 E100 F960
    G1 E100 F960
    G1 E100 F960
    G1 E40 F240
    RESTORE_GCODE_STATE NAME=__filament__load

[menu __main __filament __unload_alex]
type: command
name: alx Unload Filament
index: 1
gcode:
    UNLOAD_FILAMENT

[menu __main __filament __load_alex]
type: command
index: 2
name: alx Load Filament
gcode:
    LOAD_FILAMENT

[menu __main __setup]
type: list
# enable: !toolhead.is_printing
name: Setup

[menu __main __setup __bed_leveling]
type: list
name: Bed Leveling
# enable: !toolhead.is_printing

[menu __main __setup __bed_leveling __start]
type: command
name: Start
# enable: !toolhead.is_printing
gcode:
    BED_SCREWS_ADJUST

[menu __main __setup __bed_leveling __accept]
type: command
name: Accept
gcode:
    ACCEPT

[menu __main __setup __bed_leveling __adjust]
type: command
name: Adjusted
gcode:
    ADJUSTED

[menu __main __setup __bed_leveling __abort_screws]
type: command
name: Abort
gcode:
    ABORT

[pause_resume]

[gcode_macro M600]
default_parameter_X: 50
default_parameter_Y: 0
default_parameter_Z: 20
gcode:
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.363520, -0.504310, -0.590760, -0.731550, -0.884690, -1.087230
#*# 	  -0.365990, -0.474670, -0.546300, -0.689560, -0.822940, -1.032890
#*# 	  -0.358580, -0.440090, -0.491960, -0.612990, -0.751310, -0.966200
#*# 	  -0.358580, -0.378340, -0.417860, -0.548770, -0.689560, -0.909390
#*# 	  -0.301770, -0.363520, -0.385750, -0.496900, -0.622870, -0.842700
#*# 	  -0.314120, -0.311650, -0.324000, -0.417860, -0.553710, -0.815530
#*# tension = 0.2
#*# min_x = 10.0
#*# algo = lagrange
#*# y_count = 6
#*# mesh_y_pps = 2
#*# min_y = 10.0
#*# x_count = 6
#*# max_y = 190.0
#*# mesh_x_pps = 2
#*# max_x = 190.0
